In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium

df= pd.read_csv("Police_Department_Incidents_-_Previous_Year__2016_.csv")
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [2]:
df.describe()

         IncidntNum              X              Y          PdId
count  1.505000e+05  150500.000000  150500.000000  1.505000e+05
mean   1.616440e+08    -122.423599      37.768921  1.616440e+13
std    5.535976e+06       0.026210       0.023637  5.535976e+11
min    1.135121e+07    -122.513642      37.707922  1.135121e+12
25%    1.603283e+08    -122.434036      37.756486  1.603283e+13
50%    1.606541e+08    -122.416903      37.775421  1.606541e+13
75%    1.609764e+08    -122.406605      37.785063  1.609764e+13
max    9.910090e+08    -122.365565      37.819975  9.910090e+13

In [3]:
df.isnull().sum()

IncidntNum    0
Category      0
Descript      0
DayOfWeek     0
Date          0
Time          0
PdDistrict    1
Resolution    0
Address       0
X             0
Y             0
Location      0
PdId          0
dtype: int64

In [4]:
df['PdDistrict'].fillna(df['PdDistrict'].mode()[0],inplace=True)

In [5]:
df.isnull().any()

IncidntNum    False
Category      False
Descript      False
DayOfWeek     False
Date          False
Time          False
PdDistrict    False
Resolution    False
Address       False
X             False
Y             False
Location      False
PdId          False
dtype: bool

In [6]:
df.isnull().any().any()

False

In [7]:
df1=df.rename(columns={'PdDistrict': 'Neighborhood'})

In [8]:
df1.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,Neighborhood,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [9]:
df1.groupby(['Neighborhood']).mean()

                IncidntNum           X          Y          PdId
Neighborhood
BAYVIEW       1.612838e+08 -122.393650  37.739968  1.612838e+13
CENTRAL       1.620597e+08 -122.409467  37.796895  1.620597e+13
INGLESIDE     1.612180e+08 -122.429507  37.727230  1.612180e+13
MISSION       1.610880e+08 -122.419508  37.760305  1.610880e+13
NORTHERN      1.620565e+08 -122.426955  37.786643  1.620565e+13
PARK          1.615933e+08 -122.445663  37.770310  1.615933e+13
RICHMOND      1.618720e+08 -122.473673  37.779391  1.618720e+13
SOUTHERN      1.619368e+08 -122.405254  37.779804  1.619368e+13
TARAVAL       1.616496e+08 -122.477893  37.738397  1.616496e+13
TENDERLOIN    1.611734e+08 -122.412540  37.783574  1.611734e+13

In [10]:
df1['Neighborhood'].value_counts()

SOUTHERN      28446
NORTHERN      20100
MISSION       19503
CENTRAL       17666
BAYVIEW       14303
INGLESIDE     11594
TARAVAL       11325
TENDERLOIN     9942
RICHMOND       8922
PARK           8699
Name: Neighborhood, dtype: int64

In [11]:
df1 = df1['Neighborhood'].value_counts().reset_index()
df1.columns = ['Neighborhood','Count']
df1

  Neighborhood  Count
0     SOUTHERN  28446
1     NORTHERN  20100
2      MISSION  19503
3      CENTRAL  17666
4      BAYVIEW  14303
5    INGLESIDE  11594
6      TARAVAL  11325
7   TENDERLOIN   9942
8     RICHMOND   8922
9         PARK   8699

In [12]:
!conda install -c conda-forge folium=0.5.0 --yes
import folium

print('Folium installed and imported!')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Folium installed and imported!

In [24]:
import folium
# definition of the boundaries in the map
district_geo = r'san-francisco.geojson'
# creation of the choropleth
sfo_map1 = folium.Map(location=[37.773972, -122.431297], zoom_start=12)
sfo_map1.choropleth(
    geo_data=district_geo,
    data=df1,
    columns=['Neighborhood', 'Count'],
    key_on='feature.properties.DISTRICT',
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime_Rate of San Francisco'
)

sfo_map1

In [161]:
threshold_scale = np.linspace(df1['Count'].min(),
                              df1['Count'].max(),
                              6, dtype=int)

In [162]:
threshold_scale = threshold_scale.tolist() # change the numpy array to a list
threshold_scale[-1] = threshold_scale[-1] +1

In [163]:
sfo_map1 = folium.Map(location=SF_COORDINATES, zoom_start=12)#, tiles='Mapbox Bright')
sfo_map1.choropleth(
    geo_data=district_geo,
    data=df1,
    columns=['Neighborhood', 'Count'],
    key_on='feature.properties.DISTRICT',
    threshold_scale=threshold_scale,
    fill_color='YlOrRd', 
    fill_opacity=0.7, 
    line_opacity=0.2,
    legend_name='Crime_Rate of San Francisco',
    reset=True
)
sfo_map1